*.idea/*
.git
*/bin/*
*/obj/*
BurningKnight/Content/bin/Sfx
BurningKnight/Content/bin/Music
BurningKnight/Content/obj*
BurningKnight/Content/obj/**
packages/*
BurningKnight/achievement_sprites*
*.exe
*.pdb
*.dll
*SharpDx.*
*mgfxc.*
SharpDX.xml
SharpDX.D3DCompiler.xml
