name: Build BurningKnight
on:
  push:
    branches:
      - release
jobs:
  build:
    name: Build BurningKnight
    runs-on: windows-2019
    steps:
      - name: Download MonoGame
        shell: powershell
        run: |
          dotnet --info
          wget -O MonoGameSetup.exe https://github.com/MonoGame/MonoGame/releases/download/v3.7/MonoGameSetup.exe
      - name: Install MonoGame
        shell: cmd
        run: |
          MonoGameSetup.exe /S
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install NuGet
        shell: powershell
        run: |
          wget -O nuget.exe  https://dist.nuget.org/win-x86-commandline/latest/nuget.exe
      - name: Install NuGet packages
        shell: bash
        run: |
          ls -l
          mkdir packages
          cd packages
          ../nuget.exe install ../Lens/packages.config
          ../nuget.exe install ../Aseprite/packages.config
          ../nuget.exe install ../BurningKnight/packages.config
          ../nuget.exe install ../Desktop/packages.config
          ls -l
          cd ..
          echo $GITHUB_WORKSPACE
          ./nuget.exe restore ./VelcroPhysics/packages.config -SolutionDirectory $GITHUB_WORKSPACE
          dotnet restore
      - name: Building Aseprite Extention
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE
          ls -l
          "C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/MSBuild/Current/Bin/MSBuild.exe" ./Lens.sln /target:Aseprite /p:Configuration=Release /p:Platform=x64
          ls -l
      - name: Building Resources
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/BurningKnight/Content/
          "C:/Program Files (x86)/MSBuild/MonoGame/v3.0/Tools/MGCB.exe" "Content.mgcb" /platform:DesktopGL
          ls -l
      - name: Building Solution
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE
          "C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/MSBuild/Current/Bin/MSBuild.exe" ./Lens.sln  /p:Configuration=Release /p:Platform=x64
          mv -f -v $GITHUB_WORKSPACE/Desktop/bin/Release $GITHUB_WORKSPACE/Windows
          cd Windows
          ls
          cd ..
      - name: Install Butler
        shell: powershell
        run: |
          wget -O butler.zip https://broth.itch.ovh/butler/windows-amd64/LATEST/archive/default
          unzip butler.zip
      - name: Upload Windows Version to Itch
        shell: powershell
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}
        run: |
          ./butler.exe push ./Windows/ egordorichev/bkt:windows
      - name: Prepare Linux Version
        shell: bash
        run: |
          mkdir ./Linux
          cp -rf ./Windows/* ./Linux/
          git clone https://github.com/egordorichev/bk_linux_kick
          cp -rf ./bk_linux_kick/* ./Linux/
          cd ./Linux
          ls
          cd ..
          
      - name: Upload Linux Version to Itch
        shell: powershell
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}
        run: |
          ./butler.exe push ./Linux/ egordorichev/bkt:linux
          
      - name: Upload windows build to linux
        uses: actions/upload-artifact@v1
        with:
          name: Windows
          path: Windows
          
      - name: Upload linux build to linux
        uses: actions/upload-artifact@v1
        with:
          name: Linux
          path: Linux
        
  upload:
    needs: build
    name: Push BurningKnight to Steam
    runs-on: ubuntu-18.04
    steps:
      - name: Download windows
        uses: actions/download-artifact@v1
        with:
          name: Windows
      - name: Download linux
        uses: actions/download-artifact@v1
        with:
          name: Linux
      - name: Upload depots to steam
        shell: bash
        run: |
           git clone "https://${{ secrets.GITHUB_KEY }}@github.com/egordorichev/steam_builder.git"
           mkdir ~/.steam/steam/ -p
           cp ./steam_builder/ssfn2631791037380626867 ~/.steam/steam/
           ls -l ~/.steam/steam
           mkdir -p ./steam_builder/tools/ContentBuilder/builder/public/
           cp ./steam_builder/steambootstrapper_english.txt ./steam_builder/tools/ContentBuilder/builder/public/
           ls -l ./steam_builder/tools/ContentBuilder/builder/public/
           cd steam_builder/tools/ContentBuilder
           mkdir ./content/Windows
           cp ../../../Windows/* ./content/Windows/ -r
           ls -l ./content/Windows/
           mkdir ./content/Linux
           cp ../../../Linux/* ./content/Linux/ -r
           ls -l ./content/Linux/
           chmod a+x builder_linux/steamcmd.sh
           chmod a+x builder_linux/linux32/steamcmd
           builder_linux/steamcmd.sh +login "${{ secrets.STEAM_USERNAME }}" "${{ secrets.STEAM_PASSWORD }}" +run_app_build ../scripts/app_build_851150.vdf +quit
           
